* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./Images/1488974054.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

dl,
ol,
ul {
  margin-bottom: 0rem;
}
