.EventPage {
  margin-top: 2px;
  display: flex;
  height: 105vh;
}

.EventFilter {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  background: #dddddd;
}

.GlobalEvents {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.EventList {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
}

.EventList :hover {
  transform: scale(0.98);
}
/*-----------------------------SearchBar Part--------------------------------*/
.searchBar {
  display: flex;
  /* border: darkblue 2px solid; */
  width: 100%;
  height: 15vh;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;
}

.searchBar h1 {
  margin-left: 1%;
  color: #3c8dad;
}

.SearchForm {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  /* border: salmon 1px solid; */
  height: 8vh;
  width: 100%;
}
.SearchInput {
  width: 73%;
  height: 44px;
  align-self: center;
  outline: none;
  border-radius: 5px;
  border: none;
  padding-left: 1%;
}
.SearchButton {
  align-self: center;
  height: 44px;
  width: 23%;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #f5a962;
}

.SearchButton:hover {
  background: #125d98;
}

.SearchButton:active {
  transform: scale(0.97);
}

.SearchButton .fas {
  color: #fff;
  width: 100%;
}

.SearchButton .fa-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

.SearchButton .fas:hover {
  color: #fab667;
}

/*---------------------------------Filter Part-----------------------------*/

.formFilter {
  display: flex;
  flex-direction: column;
  /* border: yellow 1px solid; */
  height: 50vh;
  width: 100%;
  margin-top: 2%;
}
.formFilter h1 {
  margin-left: 1%;
  color: #3c8dad;
}

.Filters {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: red 1px solid; */
  width: 100%;
  /* margin-left: 2%; */
}

.OnlineEvent {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  height: 8vh;
  justify-content: space-evenly;
}

.OnlineEvent label {
  font-weight: 600;
  font-size: 2.5vh;
}
/*
.OnlineEvent button {
  color: #fff;
  background: #f5a962;
  width: 23%;
  height: 44px;
  font-size: 600;
  font-weight: bold;
  border-radius: 5px;
  border: #f5a962;
  cursor: pointer;
  / margin-left: 3%; /
}

.OnlineEvent button:hover {
  color: #fab667;
  background: #125d98;
}

.OnlineEvent button:active {
  transform: scale(0.98);
} */

.OnlineEvent button {
  width: 23%;
  height: 44px;
  font-size: 600;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.OnlineEvent button:active {
  transform: scale(0.95);
}
.ButtonON {
  color: #fab667;
  background: #125d98;
}

.ButtonOFF {
  color: #fff;
  background: #f5a962;
}

.Categories {
  height: 5vh;
  width: 90%;
  outline: none;
  margin-bottom: 2%;
  margin-left: 1%;
}

.Format {
  height: 5vh;
  width: 90%;
  outline: none;
  margin-left: 1%;
}

h2 {
  margin-left: 1%;
  margin-bottom: 2%;
  color: #3c8dad;
}
.Date {
  height: 5vh;
  width: 90%;
  outline: none;
  margin-left: 1%;
}

.Jours {
  margin-top: 3%;
}

.Heure {
  margin-top: 3%;
}

/*---------------------------------List of Events-----------------------------*/

/* .EventList {
  display: flex;
} */

.EventCard {
  display: flex;
  flex-direction: column;
  margin: 1%;
  height: 45vh;
  width: 22%;
  box-shadow: 0px 3px 3px #7c7b7b;
  border: 1px solid;
  /* cursor: pointer; */
  background: url(../../Images/shadesofgray.jpg);
}

.ImageCard {
  border: 1px solid black;
  height: 24vh;
  /* padding: 1.5%; */
  margin: 1%;
}

.InformationsCard {
  /* border: 1px solid blue; */
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}

.TitleCard {
  border: 1px solid;
  background-color: transparent;
  height: 8vh;
}

.timeCard {
  border: 1px solid;
  height: 5vh;
}

.CreatorCard {
  border: 1px solid;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.User {
  width: 65%;
  border: 1px solid green hidden;
}

.Fav {
  width: 30%;
  border: 1px solid red hidden;
  padding-left: 20%;
  padding-top: 2%;
}

.Fav :hover,
.Fav :active {
  font-weight: 600;
  cursor: pointer;
}

/*----------------------------BUTTON PREV & NEXT---------------------------------*/

.pagination {
  display: inline-block;
  align-self: center;
  margin-top: 0.5%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #f5a962;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
