.Caroussel_Container {
  display: flex;
  /* background: url(../../Images/1488974054.jpg); */
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
/*Pour enlever l'espace de bootstrap sous le footer !!!*/
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
/*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.carousel-control-prev {
  width: 10%;
}
.carousel-control-next {
  width: 10%;
}

.slide {
  width: 80%;
}
.carousel-item img {
  height: 75vh;
}
.carousel-caption {
  font-family: "Anton", sans-serif;
  text-align: left;
}
.img1 h2 {
  color: #125d98;
  font-size: 7rem;
  font-weight: 700;
  margin-left: -13%;
}
.img1 p {
  font-size: 3rem;
  font-weight: 200;
  margin-left: -13%;
}

.img2 h2 {
  color: #f5a962;
  font-size: 7rem;
  font-weight: 700;
  /* border: 1px solid red; */
  margin-left: -10%;
  margin-bottom: 26%;
}
.img2 p {
  padding-bottom: -2%;
  font-size: 3rem;
  font-weight: 200;
  margin-left: -10%;
  margin-bottom: -2%;
  margin-top: 1%;
}
.img3 h2 {
  color: #125d98;
  font-size: 5rem;
  font-weight: 700;
  /* border: 1px solid red; */
  margin-left: 60%;
  margin-top: -55%;
}
.img3 p {
  font-size: 3rem;
  font-weight: 200;
  margin-left: 60%;
}

.img4 h2 {
  color: #f5a962;
  font-size: 7rem;
  font-weight: 700;
  /* border: 1px solid red; */
  margin-left: -13%;
}
.img4 p {
  font-size: 3rem;
  font-weight: 200;
  margin-left: -13%;
}

.img5 h2 {
  color: #125d98;
  font-size: 7rem;
  font-weight: 700;
  margin-left: -13%;
}
.img5 p {
  font-size: 3rem;
  font-weight: 200;
  margin-left: -13%;
}

.img6 h2 {
  color: #f5a962;
  font-size: 5rem;
  font-weight: 700;
  margin-left: -13%;
}
.img6 p {
  font-size: 3rem;
  font-weight: 200;
  margin-left: -13%;
  margin-bottom: -3%;
}
