.Auth_Body {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(../../Images/Login_Pic.jpg);
  background-size: cover;
  opacity: 100%;
}

.BigContainer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0, 15);
}
.SignIn_SignUp {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
}

.HiddenSignInForm {
  display: none;
}

.SignUpForm {
  display: flex;
  align-self: center;
  height: 45px;
  width: 80%;
  background-color: #f8d196;
  border-radius: 8px;
  justify-content: center;
}

.SignUpForm h3 {
  align-self: center;
}

.InfosForm {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.Item {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60px;
  width: 116%;
  margin-bottom: 3px;
}

.Item Input {
  height: 35px;
  width: 100%;
  align-self: center;
  /* border-color: #f8d196; */
  border-color: #dddddd;
  border-radius: 3px;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.Item Input:focus {
  border-color: #f8d196;
  background: #ffffff;
}

.Item .InputError {
  border-color: red;
  color: red;
}

.inputMessageError {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: red;
  margin-left: 30px;
}

.Item button {
  height: 35px;
  width: 100%;
  align-self: center;
  background-color: #0e0d0d;
  border-color: #0e0d0d;
  border-radius: 3px;
  color: #f8d196;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.Item button:hover {
  background-color: #f8d196;
  border-color: #f8d196;
  color: #0e0d0d;
}

.Item button:active {
  transform: scale(0.98);
}

.formText {
  align-self: center;
}

.formLink {
  text-decoration: none;
  cursor: pointer;
}

.formLink:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
  margin-bottom: 1rem;
}

.messageError {
  color: red;
}

.messageSucces {
  color: green;
}
