.SignInForm {
  display: flex;
  align-self: center;
  height: 45px;
  width: 93%;
  background-color: #f8d196;
  border-radius: 8px;
  justify-content: center;
}

.SignInForm h3 {
  align-self: center;
}
