.Auth_Body {
  height: 79vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 1.2%;
  margin-top: 1%;
}

.BigContainer {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 50px 0 rgb(37, 37, 37);
}

.SignIn_SignUp {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Up {
  width: 400px;
  max-width: 550px;
  margin: 1rem;
  padding: 1rem;
}

.HiddenSignInForm {
  display: none;
}

.SignUpForm {
  display: flex;
  align-self: center;
  height: 45px;
  width: 74%;
  background-color: #f5a962;
  border-radius: 8px;
  justify-content: center;
}

.SignUpForm h3 {
  align-self: center;
  color: #fff;
}

.InfosForm {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.Item {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
  width: 100%;
}

.Item Input {
  height: 35px;
  width: 100%;
  align-self: center;
  /* border-color: #f8d196; */
  border-color: #dddddd;
  border-radius: 3px;
  outline: none;
  background: #eeeeee;
  /* transition: background 0.2s, border-color 0.2s; */
}

.Item Input:focus {
  border-color: #f8d196;
  background: #ffffff;
}

.Item .InputError {
  border-color: red;
  color: red;
}

.inputMessageError {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: red;
  margin-left: 30px;
}

.Item button {
  height: 35px;
  width: 100%;
  align-self: center;
  background-color: #125d98;
  border-color: #125d98;
  border-radius: 3px;
  color: #f5a962;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.Item button:hover {
  background-color: #1f669c;
  border-color: #286ca0;
  color: #fff;
}

.Item button:active {
  transform: scale(0.98);
}

.formText {
  align-self: center;
  height: 25px;
}

.formLink {
  text-decoration: none;
  cursor: pointer;
  color: #1f669c;
}

.formLink:hover {
  text-decoration: underline;
  color: #f5a962;
}

.message {
  text-align: center;
  margin-bottom: 1rem;
}

.messageError {
  color: red;
}

.messageSucces {
  color: green;
}

.input-feedback {
  color: red;
  height: 10px;
  /* border: 1px solid; */
  font-size: 13px;
  margin-bottom: 2%;
}
